body {
    margin: 0;
    color: white;
    /* background-color: rgb(177, 103, 103); */
    font-family: Arial, Helvetica, sans-serif;
   
  
}

canvas {
    /* display: block; */
    /* position: relative; */
    
}
#gameCanvas{
    position: relative;

}
#bannerCanvas {
    display: none;
}


.tog {
    border: rgba(35, 0, 7, 0.4) solid;
    /* display: inline-block;
    position: relative; */
    position: absolute;
    /* left: 50%; */
	/* margin: auto;     */
    width: 15vw;
    height: 15vh;
}
p {
   
}
.navText {
    /* -webkit-transform: rotate(-90deg); */
    color: rgba(35, 0, 7, 1.0);
    margin: 0;
    font-size: 2vmax;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
img {
   
}
.buttonContent{
width: 90%;
height: 85%;
    background-color: #6C81AB;
    margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%; 
transform: translate(-50%, -50%)

}

.but {
    /* background: rgba(35, 0, 7, 1.0); */
    border: rgba(35, 0, 7, 0.9) solid;
    position: absolute;
       /* background-color: #468 ; */
/* display: inline-block;
position: relative; */
    /* background-color: #468 ; */
	/* position: absolute  ; */
    border: rgba(35, 0, 7, 0.9) solid;
    width: 15vw;
    height: 5vh;
    /* border: 0px; */
    /* padding: 20px; */

}
#infoButton{

    top:75%;
    left: 12%;
}

#emailButton{
left: 15%;
    top: 82%;
}
#instaButton{

    top: 75%;
    left: 73%;

}
#soundcloudButton{

        top: 82%;
        left: 70%;

}
.icon{
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

/* p{position: absolute; left: 50%;} */
/* .nav{
    position: absolute;
    width: 5vw;
    height: 100%;
    border-top: 0px solid;
    border-bottom: 0px dotted #f00;
    /* background-color: rgba(53, 228, 175, 0.6); */

/* } */ 


#mainContent{
    /* opacity: 0.0; */
    color: rgba(35, 0, 7, 0.0);
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	border: rgba(35, 0, 7, 0.9) solid;
	margin: 10vh 10vw 10vh 10vw;
    width: 80vw;
    height: 80vh;
   

    /* background-color: #fB9; */
    /* //rgba(35, 0, 7, 0.9); */
}
#soundcloud  {
    /* display:    inline; */
    /* font-size: 7em; */
    font-size: 9vmax;

    /* color: rgba(0, 0, 0, 1.0); */
}
#info  {
    /* margin-top: 5%; */
    display:    none;
    font-size: 3vmax;

    /* color: rgba(0, 0, 0, 1.0); */
} 
#insta{
    font-size: 5vmax;

    display: none;
}
#email{
    font-size: 5vmax;

    display: none;
}

.mainContentText{
    font-size: 15vmax; 
    margin: 10%;
    position: absolute;
    max-height: 70%;
    /* text-align: center; */
    /* top: 50%;
    left: 50%; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
overflow:scroll;  
}


span{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    /* background-image: url('empty.gif'); */
  }  

  ::selection{
    background-color:#6C81AB !important;
    color:#fff !important;
}

/* The switch - the box around the slider */
#switch {
    position: absolute;
    /* display: inline-block; */
    width: 60px;
    height: 3vh;
    left: 12vw;
    top: 12vh;
    border: rgba(35, 0, 7, 0.9) solid;
  }
  
  /* Hide default HTML checkbox */
  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(35, 0, 7, 0.0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 26px;
    left: 4px;
    bottom: 10%;
    background-color: #6C81AB;
    -webkit-transition: .4s;
    transition: .4s;
    /* margin-top: auto; */
  }
  
  input:checked + .slider {
  }
  
  input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .egg {
    width: 2.5vh;
    height: 4vh;
    background: #f6faed;
    position: absolute;
    border: rgba(35, 0, 7, 0.9) solid 2px;
    right: 11vw;
    top: 12vh;
    /* display: block; */
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

@media only screen and (max-width: 768px) {

    .but {
   
        width: 35vw;
        height: 6vh;
      
    
    }

    #infoButton, #emailButton{
        left: 12vw;
    }
    #instaButton, #soundcloudButton{
        left: 52vw;
    }
    #soundcloudButton, #emailButton{
        top: 82vh;
    }
    #infoButton, #instaButton{
        top: 74vh;
    }
    #info{
        font-size: 4vmin;

    }

    .mainContentText{
                  margin-top: 20%;

    }
    @supports ( -moz-appearance:none ){
        #mainContent{
       
          width: 80%;
          height: 80%;
          
      }
      .but {
   
        width: 36%;
        height: 6%;
      
    
    }

    #infoButton, #emailButton{
        left: 12%;
    }
    #instaButton, #soundcloudButton{
        left: 52%;
    }
    #soundcloudButton, #emailButton{
        top: 82%;
    }
    #infoButton, #instaButton{
        top: 74%;
    }
    }
}

@media screen and (max-height: 768px)and (orientation:landscape) {

    .but {
        border: rgba(35, 0, 7, 0.9) solid;
       
        color: rgba(35, 0, 7, 1.0);
       
        border: rgba(35, 0, 7, 0.9) solid;
        width: 17vw;
        height: 8vh;
        
    
    }

   
    #infoButton, #instaButton, #soundcloudButton, #emailButton{
        top: 80vh;
    }
    #infoButton{

        left: 11vw;
    }
    
    #emailButton{
        left: 31vw;
    }
    #instaButton{
    
        left: 51vw;
    
    }
    #soundcloudButton{
    
            left: 71vw;
    
    }
     .mainContentText{
                  margin-top: 10%;

    }
    @supports ( -moz-appearance:none ){
        #mainContent{
         
          width: 80%;
          height: 80%;
          
      }

      .but {
     
        width: 17%;
        height: 8%;
      
    
    }

   
    #infoButton, #instaButton, #soundcloudButton, #emailButton{
        top: 80%;
    }
    #infoButton{

        left: 11%;
    }
    
    #emailButton{
        left: 31%;
    }
    #instaButton{
    
        left: 51%;
    
    }
    #soundcloudButton{
    
            left: 71%;
    
    }
    }
        

}
/* @media only screen and (min-width: 1000px) {
    #mainContent{
        /opacity: 0.0; 
        color: rgba(35, 0, 7, 0.0);
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
          border: rgba(35, 0, 7, 0.9) solid;
        margin: 10vh 20vw 10vh 20vw;
        width: 60vw;
        height: 80vh;
       
} */