body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	margin-top:0;
    padding-top:0;
    margin-bottom:0;
    padding-bottom:0;
    background-color:#D7D9D9;
    /*overflow:auto;*/
    color: #262626;
    border-color: #262626;
}

h1 {
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	margin-top:0;
    padding-top:0;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	margin-top:0;
    padding-top:0;
margin-bottom:0;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
}

a:link {
    text-decoration: none;
    color: #262626;
}

a:visited {
    text-decoration: none;
    color: #262626;
}

a:hover {
    text-decoration: none;
    /*color: #737373;*/
   color: #3C594E;
}

a:active {
    text-decoration: none;
}
.left{
	/*display: table;*/
	margin-left: 5%;
	left: 0;
	right: 0;
	width: 45%;
	height: 100%;
	position: fixed;
	/*border-right: 2px solid;*/
	
	
}

.right{
 	float: right;
	width: 50%;
	
	background-color:#262626;

	/*border-left: 2px solid black;*/
}

.projImage{
   float:left;
   width:auto;
   max-width:50%;
   height:auto;
   max-height:100%;
}

.projText{
	color: #D7D9D9;
	
	float: right;
	width:auto;
   max-width:50%;
   height:auto;
   max-height:100%;
}
.project{
	width:100%;
	height:auto;
	max-height: 33%;
	overflow:auto
}


.bio{

	/*width:50%;*/
	text-align: right;
	font-weight: bold;
	height:auto;
	max-height: 20%;
}

.break{

	/*height: 50%;*/
}
.links{
	text-align: right;
	font-weight: bold;
	/*padding-top: 0%;*/
}

/*  SECTIONS  */
.section {
	clear: both;
	padding:0%;
	margin: 0%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 90%; }
.span_1_of_3 { width: 10%; }
.span_half_of_3 { width: 5%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}